@import './vendors/reset.scss';

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Demi.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Demi.woff2') format('woff2');
  font-weight: 600;
}

$green: #6bc368;
$violet: #C98EF0;
$lightOrange: #f9eee7;
$lightViolet: #efe7f4;
$lightGreen: #e8f6e8;
$orange: #ff7519;

.page {
  min-width: 320px;
  font-family: 'Avenir', sans-serif;
  color: rgb(47, 47, 47);
  &__scissors {
    width: 28px;
  }
}

.header {
  border-bottom: 5px solid $green;
  &__container {
    padding: 15px 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1184px;
  }

  &__menu-btn {
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: transparent;
    padding: 0;
  }

  &__menu-bar {
    display: inline-block;
    height: 2px;
    width: 22px;
    background-color: #000;
    margin-bottom: 4px;
    border-radius: 2px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__search-btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    :hover {
      cursor: pointer;
    }
  }

  &__search-img {
    width: 30px;
    height: 30px;
  }
}

.main {
  max-width: 1184px;
  margin: 0 auto;
}

.lead {
  background: linear-gradient($lightOrange 95%, $lightViolet);
  padding: 40px 10px;
  border: 0;
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed $green;
    padding: 20px;
    position: relative;
  }

  &__title {
    font-size: 25px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__subtitle {
    text-align: center;
    font-size: 15px;
    line-height: 1.1;
  }

  &__scissors {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(23vw, -50%) rotate(90deg);
  }
}

.stores {
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $lightViolet;
  flex-direction: column;
  color: #222;
  &__headline {
    margin: 0 0 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__li {
    height: 75px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s, transform 0.1s;
    border-radius: 3px;
    &:hover {
      box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
      transform: scale(1.01);
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(12, 12, 12);
    text-transform: uppercase;
  }

  &__logo {
    width: 100%;
  }

  &__count {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 12px;
    @media (min-width: 375px) {
      font-size: 14px;
    }
  }
}

.coupons {
  padding: 45px 35px;
  background: $lightGreen;
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.coupon {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 375px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.1s;
  border-radius: 0 0 5px 5px;
  &:hover {
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
  }
  &__info {
    display: flex;
    flex-direction: column;
    border-bottom: 2px dashed #dadada;
    align-items: center;
    position: relative;
  }

  &__scissors {
    position: absolute;
    bottom: 0;
    transform: rotate(90deg) translate(50%, 90px);
  }

  &__head {
    align-self: stretch;
    background: $orange;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    line-height: 1.1;
  }

  &__store-link {
    margin: 15px 0;
    width: 40%;
    text-align: center;
  }

  &__store-logo {
    max-width: 100%;
  }

  &__meta {
    color: $orange;
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 15px;
    font-weight: 600;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1 0 auto;
  }

  &__title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__desc {
    font-size: 14px;
    line-height: calc(18 / 14);
    color: #333;
  }

  &__link {
    margin-bottom: 10px;
    display: flex;
    position: relative;
    align-self: center;
    width: 250px;
    @media (min-width: 375px) {
    }
  }

  &__btn {
    text-align: center;
    padding: 10px 20px;
    background-color: $green;
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    z-index: 3;
    &_type_code {
      background-color: #fff;
      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        background-color: $green;
        width: 80%;
        z-index: -1;
        box-sizing: border-box;
        transition: width .1s;
      }
      &:hover {
        &::before {
          width: 79%;
        }
      }
    }

  }

  &__code {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }
}

.about {
  padding: 45px 15px; 
  background: $lightOrange;
  color: #222;
  &__headline {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2;
    margin: 0 0 20px;
    text-align: center;
  }
  &__text {
    font-size: 14px;
    line-height: 1.5;
  }
}

.category {
  padding: 55px 15px 30px;
  background-color: $lightGreen;
  &__headline {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2;
    margin: 0 0 20px;
    text-align: center;
  }
  &__list {
    display: grid;
    grid-template-columns: 165px;
    grid-template-rows: auto;
    justify-content: center;
  }
  &__li {
    height: 165px;
    width: 165px;
    margin: 15px 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s, transform 0.1s;
    border-radius: 3px;
    padding: 15px 10px;
    color: #222;
    &:hover {
      box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
      transform: scale(1.01);
    }
    &-headline {
      text-align: center;
      font-size: 16px;
      line-height: 1.3;
      margin-top: 15px;
    }
  }
  &__icon {
    width: 66px;
    height: 66px;
    background-color: $violet;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 20px;
  }
}
